h1{
    color: brown;
}
*{
 border: solid;
}

.header{
   background-color:#100100; 
   display: flex;
   justify-content:space-around;
}
.Grid{
    background-color:#646464;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
 body{
     background-color: #808080;
 }
